In [1]:
import numpy as np
import pandas as pd

In [2]:
arr = np.random.rand(3, 4)

In [3]:
arr

array([[ 0.16059869,  0.67801066,  0.80107617,  0.17788045],
       [ 0.36712684,  0.75202897,  0.70871753,  0.3217591 ],
       [ 0.17902476,  0.71691573,  0.40844089,  0.47158992]])

In [4]:
arr[1][3] = np.nan
arr

array([[ 0.16059869,  0.67801066,  0.80107617,  0.17788045],
       [ 0.36712684,  0.75202897,  0.70871753,         nan],
       [ 0.17902476,  0.71691573,  0.40844089,  0.47158992]])

In [5]:
df = pd.DataFrame(arr, columns=['c0', 'c1', 'c2', 'c3'])
df

         c0        c1        c2       c3
0  0.160599  0.678011  0.801076  0.17788
1  0.367127  0.752029  0.708718      NaN
2  0.179025  0.716916  0.408441  0.47159

In [6]:
# value-wise check for NaN

pd.isna(df)

      c0     c1     c2     c3
0  False  False  False  False
1  False  False  False   True
2  False  False  False  False

In [7]:
# Check if a column contains NaN

print df['c2'].isnull().values.any()
print df['c3'].isnull().values.any()

False
True

In [8]:
# Check if a ROW contains NaN

print df.iloc[1].isnull().values.any()
print df.iloc[2].isnull().values.any()

True
False

In [9]:
# check if the entire df contains a NaN

df.isnull().values.any()

True